---
http_interactions:
- request:
    method: post
    uri: https://block.io/api/v2/get_balance/?api_key=716d-c0d1-557b-c9e1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : "success",
          "data" : {
            "network" : "BTCTEST",
            "available_balance" : "0.11583056",
            "pending_received_balance" : "0.0"
          }
        }
  recorded_at: Sun, 06 Jan 2019 15:43:15 GMT
- request:
    method: post
    uri: https://block.io/api/v2/get_balance/?api_key=716d-c0d1-557b-c9e1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : "success",
          "data" : {
            "network" : "BTCTEST",
            "available_balance" : "0.11583056",
            "pending_received_balance" : "0.0"
          }
        }
  recorded_at: Sun, 06 Jan 2019 15:43:15 GMT
recorded_with: VCR 4.0.0
