---
http_interactions:
- request:
    method: post
    uri: https://block.io/api/v2/get_balance/?api_key=716d-c0d1-557b-c9e1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : "success",
          "data" : {
            "network" : "BTCTEST",
            "available_balance" : "0.11588206",
            "pending_received_balance" : "0.0"
          }
        }
  recorded_at: Sun, 06 Jan 2019 15:37:20 GMT
- request:
    method: post
    uri: https://block.io/api/v2/get_address_by_label/?api_key=716d-c0d1-557b-c9e1
    body:
      encoding: UTF-8
      string: label=default
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : "success",
          "data" : {
            "network" : "BTCTEST",
            "user_id" : 0,
            "address" : "2N174tfJn8kvpR8ygLhs1xUnyVw8epRe1EE",
            "label" : "default",
            "available_balance" : "0.10440774",
            "pending_received_balance" : "0.0"
          }
        }
  recorded_at: Sun, 06 Jan 2019 15:37:20 GMT
[...]
- request:
    method: post
    uri: https://block.io/api/v2/withdraw_from_addresses/?api_key=716d-c0d1-557b-c9e1
    body:
      encoding: UTF-8
      string: amounts=0.00026078&from_addresses=2N174tfJn8kvpR8ygLhs1xUnyVw8epRe1EE&to_addresses=2Mt7ZoTRekb3k8wJsKccVwDXxtNPRt5npVJ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : "success",
          "data" : {
            "reference_id" : "ffd8cb7b43feaca9bc322981ffd214550bb3e7012283803f4fbdfe48a0265cba",
            "more_signatures_needed" : true,
            "inputs" : [
              {
                "input_no" : 0,
                "signatures_needed" : 1,
                "data_to_sign" : "51451e6cad87e848ae5ae19e8db4a2e9b18467f81ca9514a1d4c30b34a75a345",
                "signers" : [
                  {
                    "signer_address" : "mi7sHvZSYeLRjdTMWtZKeriwsgH7SW9ycJ",
                    "signer_public_key" : "0222d637f5a6b3b9072933da0fee86533a789b7ec0bb2d8e84abbc0ff7576bca84",
                    "signed_data" : null
                  }
                ]
              }
            ],
            "encrypted_passphrase" : {
              "signer_address" : "mi7sHvZSYeLRjdTMWtZKeriwsgH7SW9ycJ",
              "signer_public_key" : "0222d637f5a6b3b9072933da0fee86533a789b7ec0bb2d8e84abbc0ff7576bca84",
              "passphrase" : "iiuG/YOa3ZrWMWHWaf4j0JtzkbDKhO2ptDM1ZwMvMNroLoHZfkVWkTCXy2S9kxv6GqewOfLBFz0EyuZ+CNTjDponDRXaPQ++/bzaqcObM9JqJFVNYzdWo9O7+SzWUHs3Ggq/sGOPy+fTcpAxl46tttKNYUeD88wRHXj22iqPz+JkQEbRxvS8rCjEfg7/hPz3"
            }
          }
        }
  recorded_at: Sun, 06 Jan 2019 15:37:21 GMT
- request:
    method: post
    uri: https://block.io/api/v2/sign_and_finalize_withdrawal/?api_key=716d-c0d1-557b-c9e1
    body:
      encoding: UTF-8
      string: signature_data=%7B%22reference_id%22%3A%22ffd8cb7b43feaca9bc322981ffd214550bb3e7012283803f4fbdfe48a0265cba%22%2C%22more_signatures_needed%22%3Atrue%2C%22inputs%22%3A%5B%7B%22input_no%22%3A0%2C%22signatures_needed%22%3A1%2C%22data_to_sign%22%3A%2251451e6cad87e848ae5ae19e8db4a2e9b18467f81ca9514a1d4c30b34a75a345%22%2C%22signers%22%3A%5B[...]
